body {
	font-family:Lucida Bright;
	font-size:16px;
	background-color:#5b9aa0;
	margin-left:10%;
	margin-right:10%;
	max-width:100%;
	height:auto;
}
	.header {
		text-align:center;
		background-color:#622569;
		color:#ffffff;
		padding:0px;
		font-size:33px;
	}
		#mylogo {
			text-align:center;
			background-color:#622569;
			color:#ffffff;
			padding:0px;
			font-size:33px;
		}

		#titleheader {
			font-family:inherit;
			font-size:100%;
			margin-top:5%;
		}

		#slogan {
			padding:5px;
			text-align:right;
			background-size:cover;
			line-height:20px;
			font-size:80%;
			margin-top:60%;
			margin-bottom:20%;
		}

		#myheader {
			justify-content:left;
			background-color:rgb(98, 37, 105);
			justify-content:left;
			display:flex;
			flex-direction:row;
			vertical-align:middle;
			font-family:inherit;
			text-align:left;
		}

	.nav {

	}
		.flexcontainer {
			display:flex;
			flex-drection:row;
			background-color:#bf80ff;
			padding:0px;
			font-family:inherit;
			letter-spacing:normal;
			text-align:center;
			line-height:20px;
			vertical-align:middle;
			outline:none;
			max-width:100%;
		}

			a:link, a:visited, a:hover, a:active {
				color:#000000;
				text-align:center;
				display:inline-block;
				margin-top:1px;
				margin-bottom:1px;
				margin-right:5px;
				margin-left:5px;
				padding-right:5px;
				padding-right:5px;
				line-heading:20px;
			}

		#headercontainer {
			justify-content:left;
			background-color:#622569;
			display:flex;
			flex-direction:row;
			virtical-align:middle;
			font-family:inherit;
			font-size:100%;
			text-align:left;
		}

		.section {
			background-color:#ccccff;
			text-align:left;
			flex:50%;
			justify-content:center;
			font-size:100%;
			padding-top:3px;
			padding-bottom:3px;
			padding-right:10px;
			padding-left:10px;
		}

		.footer {
			text-align:center;
			background-color:#d6d4e0;
			padding:5px;
		}

/**added by dan for sure**/
.context-dark, .bg-gray-dark, .bg-primary {
	color:rgba(255,255,255,0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active{
	color:#ffffff;
}
.nav-list li{
	padding-top:5px;
	padding-bottom:5px;
}

.nav-list li a:hover:before {
	margin-left:0;
	opacity:1;
	visibility:visible;
}

ul, ol {
	list-style:none;
	padding:0;
	margin:0;
}


.social-container .col {
	border:1px solid rgba(255,255,255,0.1);
}
.nav-list li a:before {
	content:"\f14f";
	font:400 21px/1 "Material Design Icons";
	color: #4d6de6;
	display:inline-block;
	vertical-align:baseline;
	margin-left:-28px;
	margin-right:7px;
	opacity:0;
	visibility:hidden;
	transition: .22s ease;
}
